.confirmBox{
    position: absolute;
    background: rgba(0,0,0,0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmBox .box{
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    position: relative;
}
.deleteConfirmForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btnSet12{
    display: flex;
    gap: 12px;
}
.deleteConfirmForm input{
    width: 100%;
    border: 1px solid rgb(203, 203, 203);
    padding: 10px;
}
.deleteConfirmForm .btnSet12 button{
    padding: 3px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.box img{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.deleteConfirmForm .btnSet12 .canc{
    border: 1px solid rgb(110, 109, 109);
    color: rgb(99, 99, 99);
}
.deleteConfirmForm .btnSet12 .canc:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(47, 47, 47);
}
.deleteConfirmForm .btnSet12 .conf{
    border: 1px solid rgb(187, 1, 1);
    color: rgb(187, 1, 1);
}
.deleteConfirmForm .btnSet12 .conf:hover{
    background-color: rgb(165, 2, 2);
    color: azure;
}
.btnSet13 {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.btnSet13 > .conf,.canc{
    padding: 3px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.btnSet13 > .conf{
    border: 1px solid rgb(187, 1, 1);
    color: rgb(187, 1, 1);
}
.btnSet13 >.canc{
    border: 1px solid rgb(110, 109, 109);
    color: rgb(99, 99, 99);
}
.btnSet13 >.conf:hover{
    background-color: rgb(165, 2, 2);
    color: azure;
}
.btnSet13 >.canc:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(47, 47, 47);
}