 .profile{
    display: flex;
    height: 100%;
    width: 100%;
}
.notifications{
    width: 100%;
    padding: 20px;
}
.superTitle{
    margin-top: 30px;
    margin-left: 60px;
    width: 100%;
}
.avatar1{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid black;
}
.form1{
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    height: 550px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px rgba(1,1,1,0.2);
}

.form1 input{
    background: rgb(207, 216, 226);
    padding: 10px 20px;
    border: none;
    outline: none;
    width: 400px;
    border-radius: 8px;
}
.profileLeft{
    background: #eaedf2;
    border-top-right-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    padding-bottom: 20px;
    position: fixed;
}

.update{
    width: 400px; 
    background-color: rgb(6, 142, 90);
    padding: 10px 20px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    box-shadow: 2px 1px 5px 1px rgb(99, 99, 99);
}

.update:hover{
opacity: .9;
}
.update:disabled{
opacity: .7;
}
.profileRight{
    margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
   padding:20px;
   margin-left: 50%;
}


.options p{
    cursor: pointer;
    border: 1px solid #C70039;
    padding: 5px 10px;
    border-radius: 4px;
}

.options{
    display: flex;
    gap: 30px;
    width: 400px;
    color: #C70039; 
    margin-bottom: 30px;
    margin-top: 20px;
}

.options p:hover{
    color: white;
    background-color: #C70039;
}
.createListing{
    width: 400px; 
    background-color: rgb(53, 62, 108);
    padding: 10px 20px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    box-shadow: 2px 1px 5px 1px rgb(99, 99, 99);
}
.createListing:hover{
    background-color: rgb(21, 59, 95);
}
.showListings{
    color:  rgb(6, 142, 90);
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid  rgb(6, 142, 90);
    margin-bottom: 30px;
    background: none;
    cursor: pointer;
    width: 400px;
}

.showListings:hover{
    background:  rgb(6, 142, 90);
    color: white;
}
.listingCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #e5eaf3;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px rgba(1,1,1,0.2);
    margin: 10px;
    gap: 20px;
    width: 600px;
    max-width: 700px;
}
.listingCard .listingWrapper{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
}
.listingCard .listingWrapper img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.listingCard .listingButtons{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.listingCard .listingButtons button{
    width: 100px;
}
.listingCard .listingButtons button:nth-child(1){
    color: green;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid green;
    cursor: pointer;
}

.listingCard .listingButtons button:nth-child(2){
    color: rgb(160, 7, 4);
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid rgb(160, 7, 4);
    cursor: pointer;
}

.listingCard .listingButtons button:nth-child(2):hover{
    background: rgb(160, 7, 4);
    color: white;
}
.listingCard .listingButtons button:nth-child(1):hover{
    background: green;
    color: white;
}

.listCartWrapper{
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;

    margin: 30px;
}

.listingLink{
    text-decoration: none;
    color: rgb(67, 58, 146);
}  
@media screen and (max-width:420px){
    .profile{
        flex-direction: column;
        padding: 10px;
    }
    .profileRight{
        width: 100%;
        margin-left: 0px;
    }

    .profileLeft{
        position: static;
        width: 100%;
        padding: 12px;
    }
    .form1{
        width: 350px;
        padding-bottom: 40px;
        height: 600px;
    }
    .form1 input,.update,.createListing,.options{
        width: 270px;
    }
    .showListings{
        width: 270px;
    }
    .fillSpace{
        width: 350px;
        padding: 20px;
    }
    .profileLeft .superTitle{
        margin-left: 0px;
    }
    .listingCard{
        width: 370px;
    }
    .OAuth{
        width: 370px;
    }
}